fastapi
uvicorn
python-multipart
python-dotenv
SQLAlchemy
GeoAlchemy2 == 0.14.6
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pydantic-extra-types
geoalchemy2[shapely]
geopy
pillow
beautifulsoup4
requests
ultralytics
exif
reverse_geocoder
pycountry
onnxruntime
numpy
opencv-python
XlsxWriter